.navbar {
    position: relative;
    display: inline-block;
    width: 100%;

    background: black;
    color: white;

    .option {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        padding: 10px 20px;

        &:hover {
            background: #262626;
            cursor: pointer;
        }

        .active {
            font-weight: bold;
        }
    }
}