.navbar {
    display: table;
    height: 1px;
    width: 100%;
    background: black;
    color: white;

    .cell {
        display: table-cell;
        width: 1px;
        white-space: nowrap;
        padding: 10px 20px;

        &:hover {
            background: #262626;
            cursor: pointer;
        }
    }
    .active {
        font-weight: bold;
    }

    .extendedCell {
        display: table-cell;
        width: 100%;
    }
}