.container {
    display: inline-block;
    width: 80%;
    height: 100%;
    min-height: 100%;
    background: white;
    text-align: left;
    /*padding-top: 30px;*/
    padding-left: 30px;
    padding-right: 30px;

    .row {
        position: relative;
        display: table-row;
        width: 100%;
    }
    .cell {
        display: table-cell;
        width: 1px;
    }
    .cellExpanded {
        @extend .cell;
        width: 100%;
    }

    h3 {
        white-space: nowrap;
    }

    select {
        margin-left: 15px;
        font-size: 110%;
        cursor: pointer;
    }

    button {
        padding: 5px 5px;
        margin: 0 5px;
        font-size: 120%;
        cursor: pointer;
    }

    .line {
        display: inline-block;
        width: 100%;
        padding: 2px 0;
    }

    .numbering {
        text-align: right;
        vertical-align: top;
        padding-right: 5px;

        .lineExtraPaddingTop {
            @extend .line;
            padding-top: 3px;
        }
    }

    textarea {
        @extend .line;
        cursor: text;
        overflow: auto;
        resize: none;
        font-family: Ubuntu, sans-serif;
        line-height: 23px;
    }
}