.container {
    display: inline-block;
    padding: 30px 60px;
    background: white;

    .row {
        display: table-row;
        min-width: 400px;
    }
    .cell {
        display: table-cell;
        width: 1px;
    }
    .cellExtended {
        display: table-cell;
        width: 100%;
    }

    .nowrap {
        white-space: nowrap;
    }

    input {
        width: 100%;
    }
}