.container {
    display: inline-block;
    padding: 30px 150px;
    background: white;

    .tables {

        table {
            width: 100%;
            padding-top: 10px;
            text-align: left;
            
            .rightAlignText {
                text-align: right;
            }
        }

        .secondTable {
            td {
                width: 1%;
                padding-top: 5px;
            }
            td:nth-child(2) {
                width: 100%;
            }
        }

        input {
            font-family: Ubuntu, sans-serif;
        }

        button {
            cursor: pointer;
        }
    }   
}